
tp1/vagrant/id_rsa.pub
tp1/vagrant/rocky-ynov.box
tp1/ansible/server.key
tp1/ansible/server.crt
tp0/vagrant/id_rsa.pub
tp0/vagrant/rocky-ynov.box
tp0/ansible/server.crt
tp0/ansible/server.key
tp0/vagrant/.vagrant
tp1/vagrant/.vagrant/
Rocky-8-GenericCloud-Base.latest.x86_64.qcow2
tp2/rocky9.vdi
tp2/vagrant/rocky9-cloud.box
tp2/vagrant/.vagrant
tp3/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.50.0/windows_386/terraform-provider-azurerm_v3.50.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.50.0/windows_386/terraform-provider-azurerm_v3.50.0_x5.exe
