
tp1/vagrant/.vagrant/machines/default/virtualbox/private_key
tp1/vagrant/id_rsa.pub
tp1/vagrant/rocky-ynov.box
tp1/vagrant/.vagrant/machines/vm1/virtualbox/private_key
tp1/vagrant/.vagrant/machines/vm2/virtualbox/private_key
tp1/ansible/server.key
tp1/ansible/server.crt
tp0/vagrant/id_rsa.pub
tp0/vagrant/rocky-ynov.box
tp0/ansible/server.crt
tp0/ansible/server.key
tp0/vagrant/.vagrant/machines/default/virtualbox/private_key
tp1/vagrant/.vagrant/machines/node1.tp1.cloud/virtualbox/private_key
tp1/vagrant/.vagrant/machines/node2.tp1.cloud/virtualbox/private_key
tp1/vagrant/.vagrant/